{{#defineBlock "BusinessHeaderMainNav"}}
    {{#defineBlockContainer}}
        {{#defineBlockBody}}
            <nav id="mainNav">
                <ul class="nav nav-tabs">
                    {{solutionsAndProducts}}
                    {{industries}}
                    {{insightsAndEvents}}
                </ul>
            </nav>
        {{/defineBlockBody}}
    {{/defineBlockContainer}}
{{/defineBlock}}