{{#defineBlock "ConsumerHeaderCallToAction"}}
    {{#defineBlockContainer}}
        {{#defineBlockBody}}
            <a class="btn tui-orange-btn shadow hidden-xs hidden-sm"
               href="{{link.href}}">
                {{desktopLabel}}
            </a>
            <a class="btn tui-orange-btn tui-orange-tall-btn shadow hidden-lg hidden-md"
               href="{{link.href}}">
                {{mobileLabel}}
            </a>
        {{/defineBlockBody}}
    {{/defineBlockContainer}}
{{/defineBlock}}