{{#defineBlock "FooterTitledLinkList"}}
    {{#defineBlockContainer}}
        {{#defineBlockBody}}
            <div class="footerColumnn col-lg-4 col-sm-4 col-xs-12">
                <div onClick="footerAccordion(this);" class="headerFooter" id="footerLink1" data-target="#footerContent1">
                    <span>{{title}}</span>
                </div>
                <ul class="footerContent" id="footerContent1">
                    {{#each links}}
                        <li>
                            <a href="{{this.href}}"><span>{{this.body}}</span></a>
                        </li>
                    {{/each}}
                </ul>
            </div>
        {{/defineBlockBody}}
    {{/defineBlockContainer}}
{{/defineBlock}}