{{#defineBlock "Offer"}}
    {{#defineBlockContainer}}
        {{#defineBlockBody}}
            <section class="disclosureWrapper homePageOfferDetails">
                <div class="container">
                    <div class="row">
                        <div class="dislosureContent col-lg-10 col-lg-offset-1 col-xs-12">
                            {{content}}
                        </div>
                    </div>
                </div>
            </section>
        {{/defineBlockBody}}
    {{/defineBlockContainer}}
{{/defineBlock}}